@import '../../global.scss';

.timeline {
  display: flex;
  flex-direction: column;
  width: 97%;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: none;
}

.timeline:first-child {
  padding-left: 2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.timeline::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.timeline {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.timeline_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}

.timeline_connector {
  height: 1rem;
  width: 15rem;
  background-color: $light_blue_green;
  margin-left: -0.5rem;
}

.timeline_circle_connector_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
