@import '../../global.scss';

.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start;
}

.title_text {
  color: $blue_grey;
  font-family: $font_family;
  font-size: 4rem;
  font-weight: $font_weight;
  margin: 0;
}
