$black: #000100;
$grey: #a1a6b4;
$light_blue_green: #94c5cc;
$light_blue: #b4d2e7;
$seasalt: #f8f8f8;
$white: #ffffff;
$blue_grey: #1e4562;
$sky_blue: #79bbe7;

$font_family_Poppins: 'Poppins', serif;
$font_size: 1.6rem;
$font_weight: 900;
$line_height: 1.5;
$letter_spacing: 0.1rem;
