@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$black: #000100;
$grey: #a1a6b4;
$light_blue_green: #94c5cc;
$light_blue: #b4d2e7;
$seasalt: #f8f8f8;
$white: #ffffff;
$blue_grey: #1e4562;
$sky_blue: #79bbe7;

$font_family_Poppins: 'Poppins', serif;
$font_family_Playfair_Display: 'Playfair Display', serif;
$font_family: $font_family_Playfair_Display;
$font_size: 1.6rem;
$font_weight: 900;
$line_height: 1.5;
$letter_spacing: 0.1rem;
