a {
  text-decoration: none;
}

nav,
.header-list {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.header-list {
  gap: 1rem;
  list-style: none;
  padding: 0;

  .header-list-item {
    color: black;
    font-weight: 500;
  }
}

.About-Me {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .About-Me-Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .About-Me-Content-Left {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;

      .Icons {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .About-Me-Content-Right {
      width: 50%;
      .intro-pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
    }

    h1 {
      width: 80%;
      font-size: 2rem;
      font-weight: 200;
    }
  }
}

.Full-Stack-Development {
  padding-top: 3rem;
  width: 100%;
  height: 50rem;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .timeline-item {
    display: flex;
    flex-direction: row;

    .skill-icons {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 3rem;

      img {
        width: 30%;
        height: 30%;
      }
    }
  }
}
