a {
  text-decoration: none;
}

nav,
.header-list {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.header-name {
  gap: 1rem;
  justify-content: start;
  align-items: center;

  img {
    border-radius: 1rem;
    width: 5%;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

.header-list {
  gap: 1rem;
  list-style: none;
  padding: 0;

  .header-list-item {
    color: black;
    font-weight: 500;
  }
}

#Website-Content {
  justify-content: space-between;
}

.About-Me {
  width: 100%;
  height: fit-content;
}

.About-Me-Content {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.About-Me-Content-Right {
  width: 50%;
  height: 50%;

  img {
    border-radius: 6rem;
  }
}

.About-Me-Content-Left {
  width: 50%;
  height: 50%;
  align-items: center;

  .Icons {
    gap: 3rem;

    img {
      width: 6vh;
    }
  }
}

.Skill-Section {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.skill-icons {
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;

  img {
    width: 30%;
    height: 30%;
  }
}

.small-img {
  img {
    width: 25%;
    height: 25%;
  }
}

.other-related-projects {
  width: 80%;
  justify-content: space-evenly;
  gap: 2rem;
}

.row,
.skill-icons,
.About-Me-Content,
.header-name {
  display: flex;
  flex-direction: row;
}

.column,
.Skill-Section {
  display: flex;
  flex-direction: column;
}
