nav,
.header-list {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.header-list {
  gap: 1rem;
  list-style: none;
  padding: 0;

  .header-list-item {
    color: black;
    font-weight: 500;
  }
}

.header-name {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;

  img {
    border-radius: 1rem;
    width: 5%;
  }
}

.header-name-text {
  transition: color 0.3s ease-in;
}

.header-name-text:hover {
  color: var(--redwood);
}
